<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Micropost:</strong>
  <table>
  	<tbody>
  		<% @user.microposts.each do |micropost| %>
    	<tr>
        	<td><q><%=micropost.content%></q></td>
    	</tr>
  		<% end %>
  	</tbody>
  </table>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
